.homepage-navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items:center ;
    padding: 1.2rem 1rem;
}

.homepage-navbar .Expense-Tracker{
    font-size: 1.8rem;
}

.homepage-navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem  ;
    font-size: 1.3rem;
    align-items:center ;
    margin: 0;
    padding: 0;
}

.homepage-navbar a {
    color: white;
    text-decoration: none;
}

.homepage-navbar .Signin-Button {
    background-color: rgb(41, 80, 218);
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px;
    width: 100%;
    color: white;
    font-size: 1.1rem;
    margin-left: auto; 
}